@use "../../styles" as *;

.card {
  align-items: center;
  border: 1px solid $grey;
  border-radius: 10px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 0.5fr 0.25fr;
  padding: 8px;
}

.label {
  color: $black;
}

.options {
  display: flex;
}

.option {
  display: flex;
  flex: 1;
  justify-content: center;
}

.attach_money {
  fill: $green;
}
