@use "../../styles" as *;

.nav {
  background-color: $green;
  bottom: 0;
  height: 48px;
  left: 0;
  position: fixed;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  height: 32px;
  width: 32px;
}
