@use "./index" as *;

* {
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: normal;
  line-height: normal;
}

.q-field__control {
  color: $green;
}

.q-select__dialog {
  height: 300px;
}
